#active {
    color: var(--red-dark-clr);
}

img.logo {
    height: 70px;
    fill: #00ff00 !important;
    color: #00ff00 !important;
}

.navbar-toggler {
    border: 0;
}

.navbar .container {
    padding-top: 0;
}

#active {
    color: red;
}

#not-active:hover {
    color: var(--red-light-clr);
}

@media(max-width: 414px){
    .header_aria .navbar .navbar-collapse .nav_buttons .contact_btn{
        display: block !important;
    }

    .header_aria .navbar .navbar-collapse .nav_buttons{
        padding-left: 0px;
    }

    .cstm_contact_btn_mob{
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
}