@media screen and (max-width: 768px) {
  h1.hero_title {
    font-size: 2rem !important;
    line-height: normal !important;
  }
}

.cstm_mini_form {
  width: 40%;
  padding-left: 150px;
}

.cstm_content_mob{
  display: flex;
}

@media(min-width: 768px){
  .cstm_sect_title_mob{
    text-align: left;
    width: 50%;
  }
}

/*Mobile optimization code*/

@media(max-width: 414px){
  .cstm_content_mob{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }

  .cstm_sect_title_mob{
    text-align: center;
  }

  .cstm_mini_form {
    width: 100%;
    padding: 20px;
  }

  .hero_coporate_agency{
    padding-top: 130px;
  }

  .hero_coporate_agency .content .section_title p{
    font-size: 16px;
    line-height: 26px;
  }

}